.header {
  font-size: 30px; 
  padding: 0 10px;
}

.text {
  font-size: 20px; 
  padding: 0 30px;
}

.left {
  margin-right: auto;
}

.contentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  background-color: #1db954;
  color:#191414;
  border: none;
  font-size: 30px;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.button:active {
  background-color: #14a748;
}

.code {
  width: 90vw;
  margin: 0 5px;
  overflow-x: scroll;
}

.code::-webkit-scrollbar {
  display: none;
}

.instruction2Container {
  position: relative;
}

.instructionsContainer img {
  width: 397px;
}

.textbox {
  position: absolute;
  outline: none;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8.25;
  font-weight: 400;
  letter-spacing: 0.5px;
  
  top: 99px;
  left: 41px;
  height: 17px;
  width: 307px;
}

@media only screen and (max-width: 450px) { 
  .instructionsContainer img {
    width: 300px;
  }

  .textbox {
    top: 74px;
    left: 31px;
    height: 12px;
    width: 231px;
  }
}