.header {
  font-size: 30px; 
  padding: 0 10px;
}

.text {
  font-size: 20px; 
  padding: 0 30px;
}

.left {
  margin-right: auto;
}

.contentContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.button {
  background-color: #1db954;
  color:#191414;
  border: none;
  font-size: 30px;
  padding: 15px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.button:active {
  background-color: #14a748;
}

.code {
  width: 90vw;
  margin: 0 5px;
  overflow-x: scroll;
}

.code::-webkit-scrollbar {
  display: none;
}